.left {
  float: left; }

.right {
  float: right; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; 
}

.text-center {
  text-align: center; 
}

.text-justify {
  text-align: justify; 
}
/*New line Space*/
.newline10{
	margin-bottom:10px;
}
.newline20{
	margin-bottom:20px;
}
.newline30{
	margin-bottom:30px;
}
.newline40{
	margin-bottom:40px;
}
.newline50{
	margin-bottom:50px;
}
/*headings*/
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	font-style: normal;
	color: #222222;
	margin-top: 0.2em;
	margin-bottom: 0.5em;
	line-height: 1.2125em;
}
.subheading {
	color: #6f6f6f;
	line-height: 1em;
	font-weight: 300;
}
.capitalize{
	text-transform:capitalize;
}
.uppercase{
	text-transform:uppercase;
}
/*Error Message*/
#flash-msg {
	margin: 5px auto;
	padding:10px;
	background: #d9edf7;
	color:#3a87ad;
	border: 1px solid #bce8f1;
}

#flash-msg.error {
	border: 1px solid #FC6;
	background: #FFC;
	color: #C00;
}

#flash-msg.success {
	border: #080 1px solid;
	color: #080;
	background: #E8FCDC;
}
#flash-msg.success ul li, #flash-msg.error ul li{
	margin-left:20px;
}
.error-info{
	display: block;
	margin-top: 5px;
	margin-bottom: 0;
	font-size:0.9em;
	color: #D14;
}
/*Page Number*/
.pagination{
	padding:5px 0;
	margin:5px auto;
}
.pagination ul{
	list-style:none;
	color:#777;
}
.pagination ul li:first-child:after{
	padding:0 5px;
	content:':' ;
}
.pagination .space{
	padding:0 5px;
}
.pagination li{
	float: left;
	display: block;
	margin: 2px;
	vertical-align:middle;

}
.pagination a{
	background: #018fe1;
	color: #fff;
    border-radius: 5px;
	padding: 5px 10px;
	float: left;
	text-decoration: none;
	text-align: center;
	outline: none;
	
	-moz-box-shadow: 1px 1px 1px #e5eaed;
	-webkit-box-shadow: 1px 1px 1px #E5EAED;
	box-shadow: 1px 1px 1px #E5EAED;
	display: block;
	
}

.pagination li a:hover{
	background:#33beff ;
	text-shadow:1px 1px 1px rgba(83,140,170, 0.4);
}
li.active_page a{
	background:#333333;
	cursor:default;
}

/* Header navigation Bar */
.navbar{
/*
  position: fixed;
  top: 0;
  left:0;
*/
}
.navbar-inner{
    background-color: #000;
    box-shadow: 1px 5px 10px rgba(0,0,0,0.4);
    z-index: 2;
    padding: 0 20px;
}